{% extends 'base.html' %} {% block body_class %}act{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h1>Add Activities to {{itinerary.title}}</h1>
    <form class="" id="activity-count-form" action="#" method="POST">
      <div class="form-group">
        <label for="activity-count"
          >How many activities would you like to add? (You can add more
          later!)</label
        >
        <select class="form-control" id="activity-count" name="activity-count">
          <option selected>-- Select --</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </form>
    <form id="activity-form">
        <div id="activity-input-container"></div>
        <button class="btn btn-primary" id="add-act-btn">Add!</button>
    </form>
  </div>
</div>

{% endblock %}
