{% extends 'base.html' %} 
{% block scripts %}
<script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
{% endblock %}
{% block body_class %}onboarding{% endblock %}
{% block content %}
<h1>Create a New Itinerary!</h1> 
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <form class="itinerary-form" id="itinerary-form" action="/new-itinerary" method="POST">
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Ex: Day 1 in NYC">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <gmpx-api-loader key="{{api_key}}" solution-channel="GMP_GCC_placepicker_v1"></gmpx-api-loader>
        <div class="map-container">
          <gmpx-place-picker placeholder="Location of your plans"></gmpx-place-picker>
        </div>
        <input type="hidden" id="location" name="location">
      </div>
      <div class="form-group">
        <label for="notes">Additional Notes (optional) </label>
        <textarea class="form-control" id="notes" rows="3"></textarea>
      </div>

      <button class="btn btn-primary">Next!</button>
    </form>
  </div>
</div>
{% endblock %}