{% extends 'base.html' %} 
{% block body_class %}onboarding{% endblock %}
{% block content %}
<div class="v-center row justify-content-md-center">
  <div class="col-md-4">
      <h1>Sign In</h1> 
      <form method="POST" class="user-form">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
  
        <button class="btn btn-primary">Submit</button>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}